.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardValue {
  font-size: 2em;
  font-weight: bold;
}

.cardTitle {
  font-size: 0.9em;
}

.empty-sort-icon {
  display: none;
}

:root {
  --warning: #fa5c00;
  --success: #1f8d49;
  --info: #0078f3;
  --error: #f60700;
  --blue-france: #000091;
}

:root[data-fr-theme="dark"] {
  --warning: #ff6105;
  --success: #1f8d49;
  --info: #518fff;
  --error: #f60700;
  --blue-france: #518fff;
}
