:root {
    --background-default-green-non-france: rgb(217, 238, 225);
    --main-green-non-france: rgb(4, 170, 109);
    --lighter-green-non-france: rgb(76, 167, 114);

  }

.custom-header {
    display: flex;
    img {
        max-width: 200px;
        max-height: 150px;
    }
    
    .custom-title {
        margin: 0 50px;
        h1 {
            font-size: 25px;
        }
    }

    .fr-header__brand {
        display: none;
    }
}

.non-governemental-website {
    /* most crucial change, remove use of the Marianne protected font */
    font-family: Helvetica, Arial, sans-serif;

    /* optionnal change to ensure a distinct identity */
    .fr-nav__btn[aria-current], .fr-nav__link[aria-current] {
        color: var(--text-action-high-grey);
        font-weight: bold;
    }

    .fr-nav__link[aria-current]::before {
        background-color: var( --main-green-non-france);
    }

    .fr-footer {
        box-shadow: var(--main-green-non-france) 0px -2px 0px 0px, rgb(229, 229, 229) 0px -1px 0px 0px inset;
    }

    .fr-callout {
        box-shadow: var(--background-default-green-non-france) 4px 0px 0px 0px inset
    }

    .fr-btn {
        background-color: var(--main-green-non-france);
        &:hover {
            background-color: var(--lighter-green-non-france);
        }
    }

    .fr-nav__btn[aria-expanded=true] {
        --hover:var(--main-green-non-france);
        --active:var(--lighter-green-non-france);
        background-color:var(--background-default-green-non-france);
        color:var(--text-action-high-grey);
        font-weight: bold;
    }
}

