.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardValue {
    font-size: 2em;
    font-weight: bold;
}

.cardTitle {
    font-size: 0.9em;
    margin-bottom: 8px;
}