.header {
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  line-height: 1.4em;
}

.tooltip {
  max-width: 300px;
}

.info,
.warning {
  cursor: pointer;
  margin-top: 5px;
}

.warning {
  stroke: var(--error);
  margin-left: 5px;
}
