.container {
    margin-bottom: 24px;
    border: 1px solid var(--g300);
}

.banner {
    background-color: var(--g200);
    color: var(--g700);
    padding: 16px;
}

.mainTitle {
    display: inline-block;
    margin: 0;
}

.secondaryTitle {
    font-weight: normal;
    font-size: 0.6em;
}

.body {
    padding: 16px;
}