.badge {
  margin-right: 4px;
}

.clockIcon {
  vertical-align: middle;
}
.clock {
  margin-left: 4px;
  font-size: 0.9rem;
}

.screenshotImg {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid var(--dark);
  max-height: 100px;
}
