.columns {
    -webkit-column-count: 1;
    column-count: 1;
    grid-column-gap: 1.25rem;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}

.columns>div {
    display: block;
}