on:
  push:
    branches: ["*"]
    paths:
      - ecoindex/**
      - .github/workflows/ecoindex.yml
  pull_request:
    branches: ["*"]
    paths:
      - ecoindex/**
      - .github/workflows/ecoindex.yml

name: Tests ecoindex action
jobs:
  tests-trivy:
    runs-on: ubuntu-latest
    name: ecoindex action
    steps:
      - uses: actions/checkout@v4
      - name: Run ecoindex scanner
        uses: ./ecoindex
        with:
          url: https://maisondelautisme.gouv.fr
          output: results.json
      - shell: bash
        run: |
          python -m json.tool < results.json
          cat results.json
