on:
  push:
    branches: ["*"]
    paths:
      - init
      - .github/workflows/init.yml
  pull_request:
    branches: ["*"]

name: Test init JS
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Test sh
    steps:
      - uses: actions/checkout@v2
      - run: |
          cd init
          npm i
          npm test
