on:
  push:
    branches: ["*"]
    paths:
      - report/**
      - .github/workflows/report.yml
  pull_request:
    branches: ["*"]
    paths:
      - report/**
      - .github/workflows/report.yml

name: Tests report action
jobs:
  tests-report:
    runs-on: ubuntu-latest
    name: report action
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
      - shell: bash
        run: |
          cd report
          yarn
          yarn test
      - shell: bash
        run: |
          cd report/www
          yarn
          SKIP_PREFLIGHT_CHECK=true yarn test
